@model IEnumerable<FrontEnd.Models.AddressViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-sm btn-outline-dark" asp-action="Create" asp-controller="Address">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.houseNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.areaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.houseNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Address" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Address" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
