@model FrontEnd.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Auth" asp-action="Form" class="btn btn-sm btn-info">Update</a> 
</div>
